<link href="http://localhost:8080/assets/main.css?92da88927cf03ce8b507" rel="stylesheet">
<script type="text/javascript" src="http://localhost:8080/assets/main.js?92da88927cf03ce8b507" defer></script><script type="text/javascript" src="http://localhost:8080/assets/remoteEntry.js?92da88927cf03ce8b507" defer></script>
